# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache/

# Cython debug symbols
cython_debug/

# Virtual environment folders
.venv/
env/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# pytest cache
.cache/

# pyenv
.python-version

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db

# logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# .env file containing sensitive data
.env